.new-todo-form input {
    width: 80%;
    margin-right: 10px;
    display: inline-block;
}

.new-todo-form button {
    width: 60px;
    display: inline-block;
}

.list-container {
    max-width: 750px;
}

.todo-list {
    list-style: none;
    padding: 0;
}
