<div class="container list-container">
    <h1>To Do List</h1>
    <form class="new-todo-form" (ngSubmit)="onSubmit(text.value); text.value = '';">
        <div class="form-group">
            <input class="form-control" #text id="text" name="text" type="text" placeholder="Enter item" required/>
            <button class="btn btn-primary" type="submit">Add</button>
        </div>
    </form>
    <ul class="todo-list">
        <item *ngFor="let item of items" [item]="item" (deleteItem)="onDelete($event)"></item>
    </ul>
</div>